.movies {
  padding-top: 5vh;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    color: #f7f7f7;
  }
}
